---
# {{ ansible_managed }}

# Configuration file for ISC dhcp provider

:config: {{ foreman_proxy_dhcp_config }}
:leases: {{ foreman_proxy_dhcp_leases }}

# Specifies TSIG key name and secret
#:key_name: secret_key_name
#:key_secret: secret_key

:omapi_port: {{ foreman_proxy_dhcp_omapi_port }}

# use :server setting in dhcp.yml if you are managing a dhcp server which is not localhost
