# Start foreman on boot?
{% if foreman_enable_service is defined and foreman_enable_service %}
START=yes
{% else %}
START=no
{% endif %}

# the location where foreman is installed
#FOREMAN_HOME=/usr/share/foreman

# the network interface which foreman web server is running at
FOREMAN_IFACE={{ foreman_interface | default('0.0.0.0') }}

# the port which foreman web server is running at
# note that if the foreman user is not root, it has to be a > 1024
# For non-root port 80, consider using Apache+Passenger
FOREMAN_PORT={{ foreman_port | default('3000') }}

# the user which runs the web interface
FOREMAN_USER={{ foreman_admin_user | default('foreman') }}

# the rails environment in which foreman runs
FOREMAN_ENV={{ foreman_env | default('production') }}
