---
all:
  hosts:
    localhost:
      vars:
        ansible_connection: local
        ansible_python_interpreter: "/usr/bin/env python3"
  vars:
    rabbitmq_version: "{{ rabbitmq_version }}"
    rabbitmq_default_vhost: "{{ rabbitmq_default_vhost }}"
    rabbitmq_erlang_cookie: "{{ rabbitmq_erlang_cookie }}"
    rabbitmq_host: "{{ rabbitmq_host }}"
    rabbitmq_port: "{{ rabbitmq_port }}"
    rabbitmq_user: "{{ rabbitmq_user }}"
    rabbitmq_password: "{{ rabbitmq_password }}"
    postgresql_version: "{{ postgresql_version }}"
    memcached_image: "{{ memcached_image }}"
    memcached_version: "{{ memcached_version }}"
    memcached_host: "{{ memcached_host }}"
    memcached_port: "{{ memcached_port }}"
    dockerhub_base: "{{ dockerhub_base }}"
    dockerhub_version: "{{ dockerhub_version }}"
    create_preload_data: "{{ create_preload_data }}"
    project_data_dir: "{{ project_data_dir }}"
    postgres_data_dir: "{{ postgres_data_dir }}"
    host_port: "{{ host_port }}"
    docker_compose_dir: "{{ docker_compose_dir }}"
    pg_username: "{{ pg_username }}"
    pg_password: "{{ pg_password }}"
    pg_admin_password: "{{ pg_admin_password }}"
    pg_database: "{{ pg_database }}"
    pg_port: "{{ pg_port }}"
    secret_key: "{{ secret_key }}"
    admin_user: "{{ admin_user }}"
    admin_password: "{{ admin_password }}"
    awx_web_hostname: "{{ awx_web_hostname }}"
    awx_task_hostname: "{{ awx_task_hostname }}"
    rabbitmq_image: "ansible/awx_rabbitmq:{{rabbitmq_version}}"
    postgresql_image: "postgres:{{postgresql_version}}"
